
.container
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;

}

.container
.app-wrapper
{
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 2rem;
    background-color: var(--common-white);
    border-radius: 25px;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.20);
}

@media screen and (max-width: 920px) {

    .container
    .app-wrapper
    {
        flex-direction: column;
    }
    
}